<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>404</title>
</head>
<body>
    <div id="notFound" style='background: #444'>
    <h1 style='font-size: 4em; color: orangered; margin-bottom: 100px'>404 Page Not Found!</h1>
    <h3 style='font-size: 2em'>The Page you were looking for couldn't be found.</h3>
</div>
</body>
</html>
