<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <title>About Page</title>
</head>
<body>
    <h1>About Page</h1>
    <p>Rendered from a dynamic page using Handlebars. </p>
    <p>Hi there!</p>
    <p>This page has been set up by {{ name }}, from {{ company }}.</p>
</body>
</html>