<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <title>Main Page</title>
</head>
<body>
    {{>header }}
    <h1>This is the main page.</h1>
    <p>Rendered from a dynamic page using Handlebars. </p>
    <p>The shift is in {{ town }}, you can give them a call at {{ phone }}.</p>
    {{>footer }}
</body>
</html>