<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <script src='../js/query.js'></script> -->
    <title>Query Page</title>
</head>
<body>
    {{>header}}

    <form action="#" method="POST">
        <div>
            <label for="town">What town?</label>
            <input name="town" id="town" value="" placeholder="Town" required>
        </div>
        <div>
            <label for="postcode">What is the Postcode?</label>
            <input name="postcode" id="postcode" value="" placeholder="Postcode" required>
        </div>
        <div>
            <button>Get Reply</button>
        </div>
    </form>
    <hr>
    <p id='text_place'></p>
    

    {{>footer}}
</body>
</html>
<script>
    const queryForm = document.querySelector('form')
    const place_sel = document.getElementById('text_place')
    

    queryForm.addEventListener('submit', (e) => {
        e.preventDefault()
        
        const townSearch = document.getElementById('town')
        const postcodeSearch = document.getElementById('postcode')
        const town = townSearch.value
        const postcode = postcodeSearch.value

        if (!town || !postcode) {
            place_sel.textContent = 'Please enter a town and a Postcode.'
            return console.log('Please enter both a town and a Postcode.')
        }
        place_sel.textContent = `You selected the town of ${ town }, ${ postcode }.`
        
        return { town, postcode }
    })    
</script>

